body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: xx-large;
}

.nm {
    color: orange;
}

h3 {
    color: brown;
}

#abt {
    padding-top: 1px;
    font-size: medium;
    text-align: justify;
}

.flex-cont {
    display: flex;
    margin-bottom: 50px;

}

.half-width {
    width: 50%;
    padding-left: 3.5%;
}

.half-width img {
    width: 80%;
    margin-bottom: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}



.skill {
    color: rgb(247, 95, 7);
    font-weight: 700;
}

.top-banner1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#drm {
    color: rgb(14, 15, 73);
}

.orange-clr {
    color: orange;
}

.brown-clr {
    color: brown;
}